*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}
:root{
    --bg-color: #C5FF95;
    --text-color: #5DEBD7;
    --snd-bg-color: #1679AB;
    --main-color: #074173;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 10px;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;    
    margin-left: 10px;
    padding: 10px;
}

.navbar a {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    left: 0;
    top: 0;
    text-align: center; 
    margin-left: 10px;   
}

.navbar a:hover{
    text-decoration:underline;
    transition: .9s ease;
    color: crimson;
    content: "";
    bottom: 0;
    top: 1;
    transform: translate(11px);
}

span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
}

.home .home-img img{
    margin: 1px 1px;
    padding: 0.1rem;
    height: 50vh;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-wrap: row;
}
.home{
    justify-content: space-between; 
    display: flex;
    left: 0;
    top: 10rem;
    margin: 1rem 100px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.home .home-content{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-evenly;
    bottom: 0;
    left: 10rem;
    margin-top: 1rem;
    width: 100%;
}

.home .home-content p{
    margin: 1rem;
    padding: 1rem;
    left: 10;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--main-color);
}

.heading{
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    color: var(--text-color);
    align-items: center;
    text-align: center;
}

.about-img img{
    width: 35vw;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio{
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.portfolio-container .portfolio-img img{
    height: 200px;
    width: 200px;
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px;
    flex-wrap: nowrap;
}

.portfolio-container .portfolio-layer p{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 60px;
    position: absolute;
}


.contact{
    height: 600px;
    width: 600px;
    justify-content: space-between; 
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--main-color);
}
.contact form{
    padding-top: 20px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 40px;
    padding: 30px;
}
.contact form .input-box{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 10px;
    color: var(--bg-color);
    text-shadow: var(--text-color);
}
.contact form .input-box input{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: var(--bg-color);
    font-size: 10px;
    font-weight: 900;
    box-shadow: 0  0  1 var(--bg-color);
    height: 2rem;
    width: 8rem;
}

.contact form .input-box input:hover,
.contact form .input-box input:active{
    box-shadow: 1px 1px 2px var(--main-color);
    background-color: var(--text-color);
    opacity: 3px;
    color: var(--main-color);
}
.contact form textarea{
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid var(--bg-color);
}

.contact form textarea:hover,
.contact form textarea:active{
    background-color: var(--text-color);
    box-shadow: 1px 2px 1px var(--bg-color);
    color: var(--main-color);
}
.contact form input{
    border-radius: 10px;
    padding-top: 5px;
    margin-left: 10px;
    padding-right: 2px;
    height: 3rem;
    width: 5rem;
    padding-left: 1px;
    margin-bottom: 5px;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 10px;
}